.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3a3a3a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fcea6d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9088ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#div1 {
  background-image: linear-gradient(to right, #4731d2, #4731d2 78%, #cbf180 78%, #cbf180);
}

#div2 {
  background-image: linear-gradient(to right, #171042, #171042 78%, #19210a 78%, #19210a);
}

@media (max-width: 1279px) {
  #div1 {
    background-image: linear-gradient(to bottom, #4731d2 55%, #cbf180 55%);
  }

  #div2 {
    background-image: linear-gradient(to bottom, #171042 55%, #19210a 55%);
  }
}